
.background{
    max-width: 75rem;
    margin: 0 auto;
    

    & img{
        width: 100%;
        max-height: 50vh;
        object-fit: cover;
        z-index: -1;
        opacity: 0;
        animation: imageFadeIn 2000ms 300ms forwards;
        @include tablet-size{
            border-radius: 0 0 60px 60px;
            max-height: 65vh;
        }
    }
}

.menu{
    padding: 1rem .5rem 1rem;
    z-index: 0;
    border-radius: 45px 45px 0 0;
    margin-top: -50px;
    background: $color-bg-light;
    position: relative;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    @include desktop-size{
        max-width: 70rem;
    }

    &__wrapper{
        @include desktop-size{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    
    &__title{
        width: fit-content;
        margin: 0 auto;
    }
    
    &__restaurant{
        font-size: $title-size;
        padding-right: 2rem;
    }
    
    &__title{
        display: flex;
        align-items: center;

        & i {
            cursor: pointer;
            transform: scale(1.4);
        }
    }

    &__section{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 29rem;

        &__name{
            font-size: 1.1rem;
            text-transform: uppercase;
            color: lighten($color-bg-dark, 10%);
            letter-spacing: -0.02rem;
            
            
            &::after{
                content: '';
                display: block;
                width: 2.7rem;
                height: 3px;
                background: $color-tertiary;
                margin-top: .3rem;
            }
        }    
    }

    &__item{
        display: flex;
        overflow: hidden;
        @include shadow;
        background: $color-bg-lighter;
        border-radius: 20px;
        margin-bottom: 1rem;
        cursor: pointer;
        opacity: 0;
        @include desktop-size{
            width: 20rem;
        }

        &:hover > .menu__icon{
            width: 4.6rem;
            transform: translate(0rem);

            & > .menu__icon--circle{
                transition: 500ms ease-in-out;
                transition-delay: 250ms;
                transform: rotate(360deg);
            }
        }
    }

    &__text{
        width: 100%;
        min-width: 0;
    }

    &__item-name{
        font-size: 1.2rem;
        margin: 1rem 1rem 0 1rem;
        overflow:hidden; 
        white-space:nowrap; 
        text-overflow: ellipsis;
        min-width: none;
        @include desktop-size{
            font-size: 1.1rem;
        }
    }

    &__bloc-description{
        display: flex;
        justify-content: space-between;
        margin: .5rem 1rem .8rem 1rem;
        color: $color-bg-dark;
    }

    &__item-description{
        font-size: .9rem;
        overflow:hidden; 
        white-space:nowrap; 
        text-overflow: ellipsis;
        padding-right: 1rem;
    }

    &__icon{
        width: 0;
        background: $color-tertiary;
        border-radius: 0 20px 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-tertiary;
        transform: translateX(2rem);
        transition: all 600ms ease-in-out;
        


        &--circle{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 50px;
            transform: rotate(0deg);
            scale: .8;
        }
    }
}

.order{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

@keyframes imageFadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@for $i from 2 to 6 {
    .menu__item:nth-child(#{$i}){
        animation: fadeIn 700ms 100ms*($i*2.2) forwards;
    }
}