$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-bg-dark: #353535;
$color-bg-light: #eaeaea;
$color-bg-lighter: #f6f6f6;

$color-border-shadow: #d5d5d5;
$color-greyed-icon: #7e7e7e;


$title-size: 1.7em;