.button{
    padding: 1em 1.5em;
    border-radius: 25px;
    font-weight: 500;
    font-size: .98em;
    position: relative;
    z-index: 1;
    background: linear-gradient( $color-secondary, $color-primary);
    color: $color-bg-lighter;
    transition: transform .8s;
    @include shadow;
    overflow: visible;
    
    &--order{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    &::after{
        content: "";
        border-radius: 25px;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        box-shadow: rgba(0, 0, 0, 0.739) 8px 8px 18px;
        transition: opacity 0.5s ease-in-out;
    }
    &::before{
        content: "";
        border-radius: 25px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: linear-gradient( lighten($color-secondary, 5%), lighten($color-primary, 5%));
        transition: transform 200ms ease-in-out;
        transform: scaleX(0);
        transform-origin: center;
    }

    &:hover{
        &::after{
            opacity: 2;
        }
        &::before{
            transform: scaleX(1);
            opacity: 1;
        }
    }
}